.block-position {
    margin: 0 auto;
    max-width: 1280px;
    padding-left: 48px;
    padding-right: 48px;
    box-sizing: border-box;
}

@media(max-width:768px) {
    .block-position {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media(max-width:720px) {
    .block-position {
        padding-left: 16px;
        padding-right: 16px;
    }
}