.page {
    max-width: 1280px;
    height: 100%;
    background-color: #2A2C2F;
    font-family: 'Inter';
    font-style: normal;
    margin: 0 auto;
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}