.photo-grid {
    padding-top: 116px;
    margin: 0 auto;
    max-width: 1184px;
    min-height: 671px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
}

@media(max-width:1024px) {
    .photo-grid {
        max-width: 928px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 14px;
    }
}

@media(min-width:768px) and (max-width:1024px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
        gap: 12px;
        padding-top: 64px;
        width: 90%;
    }
}

@media(max-width:768px) {
    .photo-grid {
        max-width: 720px;
        grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
        gap: 16px;
    }
}

@media(min-width:320px) and (max-width:768px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
        gap: 12px;
        padding-top: 64px;
        width: 90%;
    }
}

@media(max-width:320px) {
    .photo-grid {
        max-width: 288px;
        grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
        gap: 12px;
        padding-top: 64px;
    }
}