.photo-grid {
    padding-top: 92px;
    width: 100%;
    min-height: 671px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
}

@media(max-width:1024px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 14px;
    }
}

@media(max-width:768px) {
    .photo-grid {
        gap: 16px;
        grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
        padding-top: 88px;
    }
}

@media(max-width:720px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
        gap: 12px;
        padding-top: 64px;
    }
}