.places {
    padding-top: 92px;
    padding-bottom: 92px;
    width: 100%;
}

@media(max-width:768px) {
    .places {
        padding-top: 88px;
        padding-bottom: 90px;
    }
}

@media(max-width:720px) {
    .places {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}

@media(max-width:320px) {
    .places {
        padding-left: 0;
        padding-right: 0;
        padding-top: 64px;
        padding-bottom: 64px;
    }
}