.cover__subtitle {
    margin: 0;
    font-size: 18px;
    line-height: 122%;
    color: #FFFFFF;
    max-width: 360px;
    width: 100%;
    padding-top: 32px;
    z-index: 1;
    box-sizing: border-box;
}

@media(max-width:720px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 114%;
        padding-top: 16px;
    }
}