.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 28px;
}

@media (max-width:720px) {
    .header {
        padding-top: 16px;
    }
}