.menu__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 18px;
}

@media(min-width:768px) and (max-width:1024px) {
    .menu__list {
        width: 100%;
        gap: 32px;
    }
}

@media(min-width:320px) and (max-width:768px) {
    .menu__list {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}

@media(max-width:320px) {
    .menu__list {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}