.card__text {
    display: flex;
    flex-direction: column;
    gap: 26px;
    max-width: 484px;
    width: 100%;
    box-sizing: border-box;
}

@media(max-width:768px) {
    .card__text {
        gap: 25px;
    }
}

@media(max-width:720px) {
    .card__text {
        padding-left: 16px;
        padding-right: 16px;
    }
}