.intro {
    max-width: 984px;
}

@media (max-width: 1024px) {
    .intro {
        max-width: 928px;
    }
}

@media(min-width:768px) and (max-width:1024px) {
    .intro {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}

@media (max-width: 768px) {
    .intro {
        max-width: 720px;
    }
}

@media(min-width:320px) and (max-width:768px) {
    .intro {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}

@media (max-width: 320px) {
    .intro {
        max-width: 288px;
    }
}