.intro {
    width: 100%;
    padding-top: 92px;
}

@media (max-width: 768px) {
    .intro {
        padding-top: 88px;
    }
}

@media (max-width: 720px) {
    .intro {
        padding-top: 64px;
        padding-left: 16px;
        padding-right: 16px;
    }
}