.card__image {
    max-width: 460px;
    width: 100%;
    min-height: 460px;
    object-fit: cover;
}

@media(max-width:1024px) {
    .card__image {
        min-height: 440px;
    }
}

@media(max-width:768px) {
    .card__image {
        min-height: 340px;
    }
}

@media(max-width:720px) {
    .card__image {
        min-height: 320px;
    }
}