.cover__title {
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    color: #FFFFFF;
    max-width: 560px;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
}

@media(max-width:720px) {
    .cover__title {
        font-size: 32px;
        line-height: 109%;
    }
}