.footer {
    display: flex;
    padding-top: 18px;
    padding-bottom: 24px;
    max-width: 1184px;
    justify-content: space-between;
}

@media(max-width:1024px) {
    .footer {
        max-width: 928px;
    }
}

@media(min-width:768px) and (max-width:1024px) {
    .footer {
        width: 90%;
    }
}

@media(max-width:768px) {
    .footer {
        max-width: 720px;
    }
}

@media(min-width:320px) and (max-width:768px) {
    .footer {
        flex-direction: column;
        padding-top: 64px;
        width: 90%;
    }
}

@media(max-width:320px) {
    .footer {
        flex-direction: column;
        max-width: 186px;
        padding-top: 64px;
    }
}