.intro__title {
    margin: 0;
    font-weight: 900;
    font-size: 54px;
    line-height: 107%;
    color: #FFFFFF;
    max-width: 690px;
}

@media(max-width:720px) {
    .intro__title {
        font-size: 32px;
        line-height: 109%;
        font-size: 32px;
    }
}